/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 padding: 20px;
}
#header{
 height: 150px;
 background-color: green;
 margin-bottom: 20px;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
 margin-right: 24px;
 margin-bottom: 100px;
}
#main_content{
 height: 400px;
 width: 700px;
 background-color: red;
 display: inline-block;
 padding-right: 26px;
 position: fixed;
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 display: inline-block;
 margin: 10px auto 20px 10px;
}
#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
 display: inline-block;
 margin: auto auto 20px 10px;
}