/*CSS reset settings here*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial
}

#wrapper {
    padding: 15px;
}

#header{
    height: 150px;
    background-color: green;
}
#navigation{
    height: 300px;
    background-color: blue;
}
#main_content{
    background-color: red;
    padding: 10px;
}
.subcontents{
    height: 200px;
    background-color: yellow;
    display: inline-block;
}
#advertisement{
    height: 120px;
    background-color: purple;
    display: inline-block;
    margin-top: 10px;
}

.col {
    vertical-align: top;
    display: inline-block;
}

@media only screen and (max-width: 480px) {
    .sm-4 {
        width: 100%;
    }

    .sm-0 {
        display: none;
    }
}

@media only screen and (min-width: 481px) {
    .med-4 {
        display: inline-block;
        width: 100%;
    }

    .med-2 {
        width: 50%;
    }

    .med-0 {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .lg-1 {
        display: inline-block;
        width: 25%;
    }
    .lg-3 {
        width: 75%;
    }
}