* {
	padding: 0;
	margin: 0;
	}

body {
    text-align: center;
}

#wrapper {
    width: 100%;
    background-color: #3f51b5;
    text-align: left;
    margin: 0 auto;
}

#header {
    background-color: red;
    margin: auto;
    width: 60%;
    padding: 10px;
    height: 100%;
    position: relative;
    margin-top: 100px;
}

#header h1 {
    text-align: left;
    display: inline-block;
    line-height: 100px;
}

#header img {
    position: absolute;
    right: 0px;
    margin: -10px;
    width: 100px;
    padding: 10px;
    vertical-align: top;
}